In [28]:
import pandas as pd

In [84]:
with open(r'C:\Users\kmebr\Documents\data_analytics_project_fall_2023\DAEN-Contrail-Preventers\data\USM00072402-drvd.txt', 'r') as f:
  lines = f.readlines()

In [85]:
lines[:5]

['#USM00072402 1963 10 14 12 9999   26    944101100   157    38-99999-99999 68070  3398101180   150-99999-99999-99999-99999    15    16   -18    21-99999-99999\n',
 ' 102900       3       3    2820     242    2797     331    2830    2807   10464   11374     920  -99999   -1210      10     -55       1      38     332\n',
 ' 101100     160     150    2858     -74    2849      37    2869    2860   10694   14649     730  -99999    -494  -99999  -99999  -99999  -99999     323\n',
 ' 100000     241     251    2852     -61    2852      33    2862    2862    9716   14082     690  -99999    -368      -3       1      10     -22     317\n',
 '  94400     730     719    2822      75    2868     183    2828    2875    5878   11525     510  -99999   -2500  -99999  -99999  -99999  -99999     287\n']

In [87]:
meta_rows = [lines[0]+' 1']
data_rows = []
cur_id = lines[0].split()[0]
print(cur_id)

#USM00072402

In [88]:
meta_rows

['#USM00072402 1963 10 14 12 9999   26    944101100   157    38-99999-99999 68070  3398101180   150-99999-99999-99999-99999    15    16   -18    21-99999-99999\n 1']

In [89]:
cur_id = 1
for line in lines[1:]:
    if line[0] == '#':
        cur_id +=1 
        meta_rows.append(line+ ' '+str(cur_id))
    else:
        data_rows.append(line+' '+str(cur_id))

In [90]:
text = '''
HEADREC       1-  1  Character
SITEID        2- 12  Character
YEAR         14- 17  Integer
MONTH        19- 20  Integer
DAY          22- 23  Integer
HOUR         25- 26  Integer
RELTIME      28- 31  Integer
NUMLEV       32- 36  Integer
PW           38- 43  Integer
INVPRESS     44- 49  Integer
INVHGT       50- 55  Integer
INVTEMPDIF   56- 61  Integer
MIXPRESS     62- 67  Integer
MIXHGT       68- 73  Integer
FRZPRESS     74- 79  Integer
FRZHGT       80- 85  Integer
LCLPRESS     86- 91  Integer
LCLHGT       92- 97  Integer
LFCPRESS     98- 103  Integer
LFCHGT      104- 109  Integer
LNBPRESS    110- 115  Integer
LNBHGT      116- 121  Integer
LI          122- 127  Integer
SI          128- 133  Integer
KI          134- 139  Integer
TTI         140- 145  Integer
CAPE        146- 151  Integer
CIN         152- 157  Integer
'''

In [91]:
text = text.split('\n')

In [92]:
splits = [[t.split()[1].strip('-'), t.split()[2]] for t in text[1:-1]]

In [93]:
cols = [t.split()[0] for t in text[1:-1]][1:]

In [94]:
splits = splits[1:]
splits[0][0] = 1
splits = [[int(s[0])-1, int(s[1])] for s in splits]

In [95]:
all_meta = []
for row in meta_rows:
    temp = []
    for s in splits:
        temp.append(row[s[0]:s[1]])
    temp.append(row.split()[-1])
    all_meta.append(temp)

In [96]:
output = pd.DataFrame(all_meta, columns=cols+['uid'])

In [97]:
meta_rows[:5]

['#USM00072402 1963 10 14 12 9999   26    944101100   157    38-99999-99999 68070  3398101180   150-99999-99999-99999-99999    15    16   -18    21-99999-99999\n 1',
 '#USM00072402 1963 10 15 12 9999   24   1104 99500   287    58-99999-99999 67908  3426102077    50-99999-99999-99999-99999    11     8    -2    37-99999-99999\n 2',
 '#USM00072402 1963 10 16 12 9999   21    837 99600   227    67-99999-99999 66352  3598101377    75-99999-99999-99999-99999     8    13   -17    24-99999-99999\n 3',
 '#USM00072402 1963 10 17 12 9999   20    882100200   157    93-99999-99999 65880  3654 96998   426-99999-99999-99999-99999    10    13   -11    28-99999-99999\n 4',
 '#USM00072402 1963 10 18 12 9999   23   1895100400   167    75-99999-99999 68022  3404100921   113-99999-99999-99999-99999     8     4    21    44-99999-99999\n 5']

In [98]:
output.head()

,SITEID,YEAR,MONTH,DAY,HOUR,RELTIME,NUMLEV,PW,INVPRESS,INVHGT,...,LFCHGT,LNBPRESS,LNBHGT,LI,SI,KI,TTI,CAPE,CIN,uid
0,#USM00072402,1963,10,14,12,9999,26,944,101100,157,...,-99999,-99999,-99999,15,16,-18,21,-99999,-99999,1
1,#USM00072402,1963,10,15,12,9999,24,1104,99500,287,...,-99999,-99999,-99999,11,8,-2,37,-99999,-99999,2
2,#USM00072402,1963,10,16,12,9999,21,837,99600,227,...,-99999,-99999,-99999,8,13,-17,24,-99999,-99999,3
3,#USM00072402,1963,10,17,12,9999,20,882,100200,157,...,-99999,-99999,-99999,10,13,-11,28,-99999,-99999,4
4,#USM00072402,1963,10,18,12,9999,23,1895,100400,167,...,-99999,-99999,-99999,8,4,21,44,-99999,-99999,5

In [99]:
text2 = '''
PRESS           1-  7   Integer
REPGPH          9- 15   Integer
CALCGPH        17- 23   Integer
TEMP           25- 31   Integer
TEMPGRAD       33- 39   Integer
PTEMP          41- 47   Integer
PTEMPGRAD      49- 55   Integer
VTEMP          57- 63   Integer
VPTEMP         65- 71   Integer
VAPPRESS       73- 79   Integer
SATVAP         81- 87   Integer
REPRH          89- 95   Integer
CALCRH         97- 103   Integer
RHGRAD        105- 111   Integer
UWND          113- 119   Integer
UWDGRAD       121- 127   Integer
VWND          129- 135   Integer
VWNDGRAD      137- 143   Integer
N             145- 151   Integer
'''

In [100]:
text2 = text2.split('\n')
splits = [[t.split()[1].strip('-'), t.split()[2]] for t in text2[1:-1]]
cols = [t.split()[0] for t in text2[1:-1]]

In [101]:
splits = [[int(s[0])-1, int(s[1])] for s in splits]

In [102]:
all_data = []
for row in data_rows:
    temp = []
    for s in splits:
        temp.append(row[s[0]:s[1]])
    temp.append(row.split()[-1])
    all_data.append(temp)

In [103]:
cols

['PRESS',
 'REPGPH',
 'CALCGPH',
 'TEMP',
 'TEMPGRAD',
 'PTEMP',
 'PTEMPGRAD',
 'VTEMP',
 'VPTEMP',
 'VAPPRESS',
 'SATVAP',
 'REPRH',
 'CALCRH',
 'RHGRAD',
 'UWND',
 'UWDGRAD',
 'VWND',
 'VWNDGRAD',
 'N']

In [104]:
output_data = pd.DataFrame(all_data, columns=cols+['uid'])

In [108]:
import numpy as np
np.unique(output['RELTIME'].values)

array(['0000', '0001', '0002', '0003', '0004', '0007', '0009', '0010',
       '0012', '0014', '0016', '0017', '0019', '0023', '0027', '0038',
       '0039', '0040', '0045', '0052', '0200', '0300', '0500', '0501',
       '0502', '0503', '0504', '0507', '0512', '0514', '0515', '0526',
       '0535', '0600', '0646', '0700', '0734', '1001', '1003', '1007',
       '1050', '1051', '1052', '1054', '1056', '1057', '1058', '1059',
       '1100', '1101', '1102', '1103', '1104', '1105', '1106', '1107',
       '1108', '1109', '1110', '1111', '1112', '1113', '1114', '1115',
       '1116', '1117', '1118', '1119', '1120', '1121', '1122', '1123',
       '1124', '1125', '1126', '1127', '1128', '1129', '1130', '1131',
       '1132', '1133', '1134', '1135', '1136', '1137', '1138', '1139',
       '1140', '1141', '1142', '1143', '1144', '1145', '1146', '1147',
       '1148', '1149', '1150', '1152', '1153', '1155', '1156', '1157',
       '1158', '1159', '1200', '1201', '1202', '1203', '1204', '1205',
       '1206', '1207', '1208', '1210', '1211', '1213', '1216', '1218',
       '1219', '1228', '1244', '1246', '1254', '1300', '1330', '1333',
       '1351', '1353', '1356', '1358', '1400', '1404', '1411', '1412',
       '1417', '1425', '1440', '1500', '1511', '1517', '1530', '1531',
       '1539', '1546', '1559', '1608', '1630', '1635', '1638', '1647',
       '1649', '1652', '1700', '1701', '1704', '1705', '1708', '1710',
       '1713', '1715', '1718', '1720', '1727', '1731', '1732', '1733',
       '1740', '1745', '1749', '1800', '1816', '1819', '1900', '1905',
       '1949', '2200', '2201', '2240', '2244', '2245', '2249', '2250',
       '2254', '2257', '2258', '2259', '2300', '2301', '2302', '2303',
       '2304', '2305', '2306', '2307', '2308', '2309', '2310', '2311',
       '2312', '2313', '2314', '2315', '2316', '2317', '2319', '2320',
       '2321', '2322', '2323', '2324', '2325', '2326', '2327', '2328',
       '2329', '2330', '2331', '2332', '2333', '2335', '2336', '2337',
       '2338', '2339', '2340', '2341', '2342', '2343', '2344', '2346',
       '2347', '2348', '2349', '2352', '2353', '2354', '2355', '2356',
       '2357', '2358', '2359', '9999'], dtype=object)

In [105]:
len(cols)

19

In [73]:
all_data[0]

[' 102900',
 '      3',
 '      3',
 '   2820',
 '    242',
 '   2797',
 '    331',
 '   2830',
 '   2807',
 '  10464',
 '  11374',
 '    920',
 ' -99999',
 '  -1210',
 '     10',
 '    -55',
 '      1',
 '     38',
 '    332']

In [107]:
import os
os.listdir(r'C:\Users\kmebr\Documents\data_analytics_project_fall_2023\DAEN-Contrail-Preventers\data/')

['USM00072402-drvd.txt', 'USM00072403-drvd.txt', 'USM00072405-drvd.txt']

In [115]:
output['RELTIME'].replace(str(9999), np.nan, inplace=True)

In [116]:
output

,SITEID,YEAR,MONTH,DAY,HOUR,RELTIME,NUMLEV,PW,INVPRESS,INVHGT,...,LFCHGT,LNBPRESS,LNBHGT,LI,SI,KI,TTI,CAPE,CIN,uid
0,#USM00072402,1963,10,14,12,NaN,26,944,101100,157,...,-99999,-99999,-99999,15,16,-18,21,-99999,-99999,1
1,#USM00072402,1963,10,15,12,NaN,24,1104,99500,287,...,-99999,-99999,-99999,11,8,-2,37,-99999,-99999,2
2,#USM00072402,1963,10,16,12,NaN,21,837,99600,227,...,-99999,-99999,-99999,8,13,-17,24,-99999,-99999,3
3,#USM00072402,1963,10,17,12,NaN,20,882,100200,157,...,-99999,-99999,-99999,10,13,-11,28,-99999,-99999,4
4,#USM00072402,1963,10,18,12,NaN,23,1895,100400,167,...,-99999,-99999,-99999,8,4,21,44,-99999,-99999,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39819,#USM00072402,2023,09,03,12,1100,172,3320,98167,307,...,-99999,-99999,-99999,3,0,25,48,-99999,-99999,39820
39820,#USM00072402,2023,09,04,00,2300,180,3456,-99999,-99999,...,3478,21641,11811,-1,1,31,44,742,-322,39821
39821,#USM00072402,2023,09,04,12,1100,195,3239,100000,110,...,3816,21122,11969,-4,1,17,47,836,-393,39822
39822,#USM00072402,2023,09,05,00,2300,162,2610,99696,120,...,3656,19154,12578,-8,23,-24,13,2394,-423,39823
39823,#USM00072402,2023,09,05,12,1100,190,4394,98491,245,...,2054,21185,11881,-5,-5,38,54,2134,-227,39824

In [113]:
output_data

,PRESS,REPGPH,CALCGPH,TEMP,TEMPGRAD,PTEMP,PTEMPGRAD,VTEMP,VPTEMP,VAPPRESS,SATVAP,REPRH,CALCRH,RHGRAD,UWND,UWDGRAD,VWND,VWNDGRAD,N,uid
0,102900,3,3,2820,242,2797,331,2830,2807,10464,11374,920,-99999,-1210,10,-55,1,38,332,1
1,101100,160,150,2858,-74,2849,37,2869,2860,10694,14649,730,-99999,-494,-99999,-99999,-99999,-99999,323,1
2,100000,241,251,2852,-61,2852,33,2862,2862,9716,14082,690,-99999,-368,-3,1,10,-22,317,1
3,94400,730,719,2822,75,2868,183,2828,2875,5878,11525,510,-99999,-2500,-99999,-99999,-99999,-99999,287,1
4,93000,850,854,2831,-26,2890,74,2833,2893,2571,12244,210,-99999,-81,-99999,-99999,-99999,-99999,267,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2558863,700,33721,33719,2305,43,9519,478,2305,9522,6,143,32,41,0,-175,174,-28,174,2,39824
2558864,698,33744,33740,2306,27,9530,525,2306,9534,6,145,32,41,0,-171,78,-24,144,2,39824
2558865,654,34182,34184,2318,29,9760,529,2318,9764,7,164,32,41,5,-137,10,39,-132,2,39824
2558866,635,34386,34382,2324,-30,9868,276,2325,9872,7,175,32,42,10,-135,79,12,-192,2,39824
2558867,617,34589,34581,2318,-99999,9924,-99999,2319,9928,7,164,34,44,-99999,-119,-99999,-27,-99999,2,39824